<ion-view title="Map">
    <ion-content scroll="false">
        <div class="mapWrap" data-tap-disabled="true">
            <map center="{{positions[0].lat}},{{positions[0].lng}}" zoom="17">
                <!-- ngRepeat: pos in positions -->
                <marker ng-repeat="pos in positions" position="{{pos.lat}},{{pos.lng}}"></marker>
            </map>
            <button class="button button-positive ion-pinpoint" ng-click="centerOnMe()"></button>
        </div>
    </ion-content>
</ion-view>
