/* Empty. Add your own CSS if you like */

map {
    width: 100%;
    height: 100% !important;
}
.scroll,
.mapWrap {
    height: 100%;
}
.mapWrap .ion-pinpoint {
    position: absolute;
    font-size: 2em;
    right: 0.5em;
    bottom: 0.5em;
}
